@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    padding: 0;
    margin: 0;
    font-family: "Pretendard Variable", sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    height: 900PX;
    width: 1920px;
    flex-direction: column;
    background-color: #F2E9D8;
}

.maincontent {
    padding-left: 320px;
    padding-right: 320px;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    list-style-type: none;
}

.btn {
    width: 130px;
    height: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 1920px;
}

/*위에까지가 매뉴 */

.intro {
    display: flex;
    flex-direction: row;
    height: 900PX;
    width: 1920px;
    justify-content: space-evenly

}

.boxcat {
    display: flex;
    justify-content: right;
}

/*위에까지가 top */

.topscreen {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px

}

.topscreen-text1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.topscreen-text2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

/*위에까지가 1*/

.content1 {
    display: flex;
    flex-direction: row;
    /*margin: 90px auto 90px 270px;*/
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.hoduimage {
    width: 660px;
    height: 390px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.content1-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content1-subtest1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}

.content1-subtest2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

/*위에까지가 2*/

.gallery {
    /*width: 1920px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
    /*border-top: 1px solid #C4C4C4;*/
}

.galleryimage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
    margin-top: 20px;
}

.galleryimage img {
    width: 378px;
    height: 378px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.gallery-text {
    text-align: center;
}

.gallerytitle {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #D97652;
}

.gallery-subtext {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.gallery-subtext span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #D97652;
}

.gallerydown {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px
}

.morecontent {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.highlight {
    color: #D97652;
}

.morbtn {
    border: none;
    background-color: transparent;
}

/*위에까지가 3*/


.map-title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}

.mapp {
    height: 520px;
    width: 1278px;
    /*background-color: #635fa0;*/
    border-radius: 10px;
    /*margin: 68px 300px 80px;*/
    margin-bottom: 80px;
    margin-top: 50px;
}

/*위에까지가 4*/

.postbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 58px;
    border-radius: 30px;
    background-color: #263140;
    color: #FFFFFF;
    width: 1190px;
    height: 201px;
}

.post-title {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
}

.post-sub {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    gap: 10px;
}

.btn3 {
    border: none;
    background-color: transparent;
}

/*위에까지가 5*/

.footer {
    display: flex;
    flex-direction: column;
}

.line {
    margin-block: 80px;
    background-color: rgba(196, 196, 196, 1);
}

.footercat {
    background-image: url('image/footercat.jpg');
    width: 1920px;
    height: 340px;
    object-fit: cover;
    background-position: center;
    position: relative;
    /*padding: 100px;*/
}

.footerbox1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1920px;
    height: 201px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.btn4 {
    width: 226px;
    height: 70px;
}
